@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/IRANSans Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IRANSans", sans-serif;
  direction: rtl;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
}
